footer{
    width:100%;
    margin-top:350px;
    min-height:300px;
    background-color:rgb(18,108,198);
    color:#fff;
}
.subscribe{
    width:30%;
    margin-left:35%;
    padding-top:50px;
  

}
.subscribe-label{
    display:flex;
    justify-content: center;
    align-self:center;
    font-weight:bold;
    font-size:16px;
    justify-self: center;
}
.subscribe-label p{
    font-family:"Clash Display Bold";
}
.footer-btn{
    display:flex;
    justify-content: center;
}
.footer-btn button{
    width:175px;
    padding:0.5rem;
    transition:0.5s ease;
    border-radius:0.5rem;
    background-color:rgb(252,214,0);
    text-transform:uppercase;
    font-family:"Clash Display";
    font-weight:bold;
    font-size:18px;
    color:rgb(5,51,97);

}
.footer-btn button:hover{
    transform:scale(1.1) translateX(20px);
    cursor:pointer;
}
.subscribe-info{
    margin-top:100px;
    padding-bottom:50px;
    display:flex;
    justify-content: space-evenly;
    font-family:"Clash Display Bold";
    font-size:22px;
}
@media screen and (max-width:1024px){
    footer{
        width:100%;
        margin-top:1300px;
        min-height:300px;
        background-color:rgb(18,108,198);
        color:#fff;
    }
}
@media screen and (max-width:768px){
    footer{
        width:100%;
        margin-top:1000px;
        min-height:300px;
        background-color:rgb(18,108,198);
        color:#fff;
    }
    .subscribe{
        width:90%;
        margin-left:5%;
        padding-top:50px;
      
    
    }
    .subscribe-info{
        margin-top:100px;
        width:90%;
        margin-left:5%;
        padding-bottom:50px;
        display:grid;
        grid-template:auto / 33% 33% 33%;
        grid-row-gap:30px;
        font-family:"Clash Display Bold";
        font-size:22px;
    }


}
@media screen and (max-width: 415px) {
    footer{
        width:100%;
        margin-top:100px;
        min-height:300px;
        background-color:rgb(18,108,198);
        color:#fff;
    }
    .subscribe{
        width:90%;
        margin-left:5%;
        padding-top:50px;
      
    
    }
    .subscribe-info{
        margin-top:100px;
        width:90%;
        margin-left:5%;
        padding-bottom:50px;
        display:grid;
        grid-template:auto / 48% 48%;
        font-family:"Clash Display Bold";
        font-size:22px;
    }

}